extends layout

block content
  div(ng-controller="indexController", ng-init="init()")
    .ui.one.column.stackable.center.aligned.page.grid.margin-30
      .column.twelve.wide
        .ui.stacked.segment.gameArea(ng-click="onClickPlayer($event)")

          .circle(
            ng-repeat="player in players",
            ng-style="{'top':player.position.x + 'px','left':player.position.y + 'px'}",
            id="{{player.id}}",
            class="{{player.color}}"
            )
            .relative
              span.name {{player.username}}
              .message

        .ui.items.chat#chat-area
          .item(ng-repeat="message in messages")
            .content(ng-if="!message.type.code")
              span [SERVER]
              a.header.name {{message.username}}
              .description.message(ng-if="message.type.message")
                | joined
              .description.message(ng-if="!message.type.message")
                | left
            .content(ng-if="message.type.code")
              a.header.name {{message.username}}
              .description.message
                | {{message.text}}
         
        form.ui.action.input.fluid(ng-submit="newMessage()")
          input(ng-model='message', placeholder='Type here...')
          button.ui.button(type="submit") Send